%header
  #info
    = image_tag "logo-small.png", class: 'logo-in-application'
    #profile
      %span#toolbar
        %a.link-floating#settings(href='#' title='Settings') Settings
        = link_to 'Logout of Warble', logout_path, title: 'Logout', method: 'delete', class: 'link-floating'

#left
  %aside#playing

  %aside#controls
    %span.vote
    %a#forward(href='#') 7
    #volume(data-volume='#{@volume}')

  %ul#songs

#add
  .tabs
  .content

#spinner
  = image_tag 'spinner.png'
#queue

- content_for :scripts do
  = javascript_include_tag 'application', debug: Rails.env.development?
