{{#current}}
  <div class="submitter">
  {{#voters}}
    <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
  {{/voters}}
  </div>

  {{#if cover_url}}
  <img id="cover" src="{{cover_url}}" />
  {{/if}}
  <div id="artist">{{artist}}</div>
  <div id="title">{{title}}</div>
{{^}}
  <div id="artist">No songs in queue</div>
{{/current}}
