{{#current_play}}
  {{#if song.cover_url}}
    {{#if user}}
      <div class="submitter">
        <img src="{{user.photo_url}}">
      </div>
    {{/if}}
    <div id="cover" style="background-image: url('{{song.cover_url}}');" />
  {{else}}
    <div id="cover" style="background-image: url('/assets/empty-cover.png');"/>
  {{/if}}

  <div class="metadata">
    <p class="title">{{song.title}}</p>
    <p class="artist">{{song.artist}}</p>
    <p class="album">{{song.album}}</p>
    <div class="voters">
      {{#song.voters}}
        <div class='voter'>
          <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
        </div>
      {{/song.voters}}
    </div>
  </div>
{{^}}
  <div id="cover" style="background-image: url('/assets/empty-cover.png');"/>
  <div class="artist">No songs in queue</div>
{{/current_play}}
