{{#current_play}}
  <div class="voters">
  {{#song.voters}}
    <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
  {{/song.voters}}
  </div>

  {{#if song.cover_url}}
    {{#if user}}
      <div class="submitter">
        <img src="{{user.photo_url}}">
      </div>
    {{/if}}
  <img id="cover" src="{{song.cover_url}}" />
  {{/if}}
  <div id="artist">{{song.artist}}</div>
  <div id="title">{{song.title}}</div>
{{^}}
  <div id="artist">No songs in queue</div>
{{/current_play}}
