{{#current_play}}
  {{#if song.cover_url}}
    {{#if user}}
      <div class="submitter">
        <img src="{{user.photo_url}}">
      </div>
    {{/if}}
  <img id="cover" src="{{song.cover_url}}" />
  {{/if}}

  <div class="metadata">
    <div class="voters">
    {{#song.voters}}
      <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
    {{/song.voters}}
    </div>
    <p class="title">{{song.title}}</p>
    <p class="artist">{{song.artist}}</p>
    <p class="album">{{song.album}}</p>

  </div>
{{^}}
  <div class="artist">No songs in queue</div>
{{/current_play}}
