<div class="breadcrumbs">
  <a href="/" data-relative="true">Sources</a>
  &raquo;
  <a href="/hype" data-relative="true">The Hype Machine</a>
  &raquo;
  <span class="current">{{feed}}</span>
</div>

<h2>{{feed}}</h2>

<ul id="search_results">
  {{#songs}}
  <li>
    <a href="#" class="result" data-id="{{id}}">
      <div class="song">
        <img src="{{cover_url}}" />
        <div class="artist">{{artist}}</div>
        <div class="title">{{title}}</div>
      </div>
    </a>
  </li>
  {{/songs}}
</ul>

{{#if hasNext}}
  <a href="#" class="paging button" id="next_results">
    Next
    <span class="pictos">]</span>
  </a>
{{/if}}
