{{#current}}
  <audio src="{{url}}" type="audio/mp3" autoplay />
  <img id="cover" src="{{cover_url}}" />
  <div id="artist">{{artist}}</div>
  <div id="title">{{title}}</div>
{{^}}
  <div id="artist">No songs in queue</div>
{{/current}}
{{#if user}}
  <div class="submitter">
    <img src="{{user.photo_url}}">
  </div>
{{/if}}
