<div class="submitter">
  {{#song.voters}}
  <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
  {{/song.voters}}
</div>

<img class="cover" src="{{song.cover_url}}" />
<div class="name">
  <p class="title">{{song.title}}</p>
  <p class="artist">{{song.artist}}</p>
  <p class="album">{{song.album}}</p>
</div>
<span class='clear'></span>
