<div class="submitter">
  {{#voters}}
  <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
  {{/voters}}
</div>

<img class="cover" src="{{cover_url}}" />
<div class="name">
  <div class="artist">{{artist}}</div>
  <div class="title">{{title}}</div>
</div>
