<div class="submitter">
  {{#voters}}
  <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
  {{/voters}}
</div>

<img class="cover" src="{{cover_url}}" />
<div class="name">
  <p class="title">{{title}}</p>
  <p class="artist">{{artist}}</p>
  <p class="album">{{album}}</p>
</div>
