!!! 5

%html
  %head
    %meta{ :charset => "utf-8" }/

    %title Warble

    %link(rel='icon' type='image/png' href='/images/favicon.png')
    %link(rel='stylesheet' type='text/css' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/eggplant/jquery-ui.css')
    = stylesheet_link_tag 'application'

  %body{ :lang => 'en' }
    = yield

    :javascript
      WEB_SOCKET_SWF_LOCATION = 'http://#{request.host}:8765/socket.io/lib/vendor/web-socket-js/WebSocketMain.swf';
    = javascript_include_tag "http://#{request.host}:8765/socket.io/socket.io.js"
    = javascript_include_tag 'handlebars.1.0.0.beta.3'
    = content_for :scripts
