!!! 5

%html
  %head
    %meta{ :charset => "utf-8" }/

    %title Warble

    %link{ rel: 'icon', type: 'image/png', href: image_path('favicon.png') }
    %link(rel='stylesheet' type='text/css' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/eggplant/jquery-ui.css')
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

  %body{ :lang => 'en' }
    = yield

    :javascript
      window.base_url = "#{request.host}";
    = content_for :scripts
